
<!--
 Christian Fenzl, christiantf@gmx.at, 2017 for LoxBerry
  Based on http://javascriptrrd.sourceforge.net/
  Flot Repository: http://www.flotcharts.org/
  MIT License [http://www.opensource.org/licenses/mit-license.php]
-->
	<script language="javascript" src="/plugins/<!--$psubfolder-->/js/rrdFlotAsync/javascriptrrd.wlibs.js"></script>
    <h1 id="title">Stats4Lox Statistiken (Engine Flot)</h1>
	Das ist nicht die finale Engine, sondern nur zum Testen der Datenqualität der Aufzeichnung und des Imports.
