<script src="/plugins/stats4lox/js/Flot/jquery.flot.js"></script>
<script src="/plugins/stats4lox/js/Flot/jquery.flot.time.js"></script>

<div id="placeholder" style="width:600px;height:300px"></div>

	



<script>
var data =  [ ];
var options = { /* yaxis: { max: 1 } */ };
var url = 'ajax/ajax-flot.cgi';
$(document).on('pageinit', function() {
	var plot = $.plot($("#placeholder"), data, options);
	start = 0;
	end = 10000;
	query_data(plot);

});


function query_data(plot)
{
	$.getJSON( url, { action: "rrd_xport", statid: 11, start: start, end: end })
	.done(function(resp) {
		plot.setData(resp.data);
		plot.setupGrid();
		plot.draw();
		
		
	
	});
}


</script>









<!--
filename = "/opt/loxberry/data/plugins/stats4lox/databases/0001.rrd"
rrd_version = "0003"
step = 300
last_update = 1230768000
header_size = 2712
ds[value].index = 0
ds[value].type = "GAUGE"
ds[value].minimal_heartbeat = 3900
ds[value].min = -7.0000000000e+01
ds[value].max = 7.0000000000e+01
ds[value].last_ds = "U"
ds[value].value = NaN
ds[value].unknown_sec = 0
-->