<div class="wide" id="headingname"></div>
<input type="hidden" id="statcfg|statid" name="statcfg|name" value="">
<h3>Basic settings</h3>
<div style="display:flex; flex-flow:row wrap; justify-content:flex-start; align-items:flex-start;">
	<div style="flex-grow:2;">
		Name: <input type="text" id="statcfg|name" name="statcfg|name" value="">
	</div>
	<div style="flex-grow:2;">
		Description: <input type="text" id="statcfg|description" name="statcfg|name" value="">
	</div>
</div>

<h3>Source configuration <TMPL_VAR sourcename></h3>
<TMPL_VAR sourcehtml>
<hr>

<h3>Destination configuration</h3>
<TMPL_LOOP sinkhtmls>
	<h4><TMPL_VAR sinkname></h4>
	<TMPL_VAR html>
	<hr>
</TMPL_LOOP>




<script>
var statcfg = [  ];

$(document).on('pageinit', function() {
	statcfg = JSON.parse('<TMPL_VAR statcfg>');
	if(statcfg.statid === undefined) {
		$('#headingname').text("<New statistic>");
	} else {
		$('#headingname').text(statcfg.name);
	}
	populate(statcfg, undefined, "statcfg");
	
});

</script>