									<div data-role="navbar">
										<ul>
											<li><a href="./index.cgi">Statistiken</a></li>
											<li><a href="./import.cgi">Import</a></li>
											<li><a href="./charts.cgi">Charts</a></li>
											<li><a href="./indexes.cgi">Indexes</a></li>
											<li><a href="./about.cgi" class="ui-btn-active">Über...</a></li>
 										</ul>
									</div>

									<br/>
									<br/>
									An diesem Plugin haben mitgewirkt (in alphabetischer Reihenfolge des Nachnamens):
									<br/>
									<br/>
									<br/>

									<center>
									<table border=0 width="90%">
									<tr>
										<td width="30%" style="vertical-align: top">Christian Fenzl</td>
										<td width="10%" style="vertical-align: top; text-align: center"><a href="https://www.loxforum.com/member/409-christian-fenzl" target="_blank">Forum</a>&nbsp;|&nbsp;<a href="http://www.loxwiki.eu/display/~fenzl" target="_blank">Wiki</a></td>
										<td width="60%" style="vertical-align: top">
											<ul>
												<li>Plugin Konzept</li>
												<li>Import-Modul</li>
												<li>Bugfixing / Testing</li>
											</ul>
										</td>
									</tr>
									<tr>
										<td width="30%" style="vertical-align: top">Michael Schlenstedt ("Prof. Mobilux")</td>
										<td width="10%" style="vertical-align: top; text-align: center"><a href="https://www.loxforum.com/member/28-prof-mobilux" target="_blank">Forum</a>&nbsp;|&nbsp;<a href="http://www.loxwiki.eu/display/~profmobilux" target="_blank">Wiki</a></td>
										<td width="60%" style="vertical-align: top">
											<ul>
												<li>Plugin Konzept</li>
												<li>Statistiken-Modul</li>
												<li>Bugfixing / Testing</li>
											</ul>
										</td>
									</tr>
									<tr>
										<td width="30%" style="vertical-align: top">Sven Thierfelder ("Svethi")</td>
										<td width="10%" style="vertical-align: top; text-align: center"><a href="https://www.loxforum.com/member/155-svethi" target="_blank">Forum</a>&nbsp;|&nbsp;<a href="http://www.loxwiki.eu/display/~svethi" target="_blank">Wiki</a></td>
										<td width="60%" style="vertical-align: top">
											<ul>
												<li>Plugin Konzept</li>
												<li>Bugfixing / Testing</li>
											</ul>
										</td>
									</tr>
									</table>
									</center>
