									<center>
										<table border=0>
											<tr>
												<td align="center">
												<img src="/plugins/<!--$psubfolder-->/charts/<!--$db-->.png" alt="Chart">
												<br><br>
												</td>
											</tr>
											<tr>
												<td align="center">
													<p>
														<a id="btnback" href="javascript:history.back();" class="ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-delete">Zur&uuml;ck</a>
													</p>
												</td>
											</tr>
										</table>
									</center>
