<div class="wide"><TMPL_VAR GRAFANA.title></div>
<p><TMPL_VAR GRAFANA.intro1></p>
<p><TMPL_VAR GRAFANA.intro2></p>
<form>
   <label for="GRAFANA.enablerrdserver"><TMPL_VAR GRAFANA.enabled_label>
    <input type="checkbox" name="GRAFANA.enablerrdserver" id="GRAFANA.enablerrdserver" disabled="disabled">
	</label>
	<p class="hint"><TMPL_VAR GRAFANA.enabled_hint></p>
	
</form>
<p>
	<TMPL_VAR GRAFANA.running_label> <span id="rrdserverstatus"></span>
</p>
<p><TMPL_VAR GRAFANA.port_label> <span id="rrdserverport"></span></p>
<TMPL_IF grafana_plugin_found>
	<p><b><TMPL_VAR GRAFANA.grafana_plugin_found_label></b></p>
</TMPL_IF>
<p><TMPL_VAR GRAFANA.furtherinfo></p>
<script>

var timer;
var serialize;

var running_true = "<TMPL_VAR GRAFANA.running_true>";
var running_false = "<TMPL_VAR GRAFANA.running_false>";
var rrdserverport = "<TMPL_VAR rrdserverport>";
var running_status = false;
var enablerrdserver = false;
var vars = {};
var url = "ajax/ajax-settings.cgi";

$(function() {
	query_status();
	// updateform();
});

$( "input[type='checkbox']" ).change(function(e){change_value("change", e.target.id, $(this).prop("checked"))});


function updateform() 
{
	// rrdserver status
	if (running_status === "true") {
		$("#rrdserverstatus").attr("style", "color:green;");
		$("#rrdserverstatus").text(running_true);
	} else {
		$("#rrdserverstatus").attr("style", "color:red;");
		$("#rrdserverstatus").text(running_false);
	}

	// rrdserver port
	if (rrdserverport != null) {
		$("#rrdserverport").attr("style", "color:green;");
		$("#rrdserverport").text(rrdserverport);
	} else {
		$("#rrdserverport").attr("style", "color:red;");
		$("#rrdserverport").text("<TMPL_VAR GRAFANA.port_unknown>");
	}
	
	// enablerrdserver_switch
		$("#GRAFANA\\.enablerrdserver").prop('checked', enablerrdserver).checkboxradio("refresh");
		$("#GRAFANA\\.enablerrdserver").checkboxradio('enable');
	
}

function change_value (action, key, value)
{
	console.log("Action is", action, "Key is", key, "Value is", value);
	if (vars['old' + key] === value) {
		console.log("Nothing changed.");
		return;
	}
	serialize =1;
	var posting = $.post( url, {action: action,
								key: key,
								value: value,
				 })
	posting.done(function(data){
				console.log("OK");
				// $("#" + data.key + "resp").css("color", "green");
				//$("#" + data.key + "resp").text("Successfully saved");
			 })
	posting.fail(function(data){
				console.log("Error");
				//$("#" + data.key + "resp").css("color", "red");
				//$("#" + data.key + "resp").text("Error writing");
			 })
	posting.always(function(data){
				serialize = 0;
				//query_status();
			});
}

function query_status()
{
	
	//console.log("query_status");
	timer=setTimeout(query_status, 1500);
	if (serialize == 1)
		return;
	$.post( url, { action: "query", key: "grafana"})
	.done(function(data){
		if (serialize == 1)
		return;
		rrdserverport = data.rrdserverport;
		running_status = data.running_status;
		enablerrdserver = data.enablerrdserver;
		updateform();
	
	});
	

}


</script>
