 <style>

    div.table { 
      display: table; 
      border-collapse:collapse; 
	  table-layout: fixed;
    }
    div.tr { 
      display:table-row; 
    }
    div.td { 
      display:table-cell; 
      border:thin solid; 
      padding:10px; 
	  width: 200px;
    }

  </style>

<!-- Row template -->
	<div class="tr" id="statsRow" name="statsRow" style="display:none">
		<div class="td">
			<label for="Stat|activated" style="width:50px;">
				<input type="checkbox" id="Stat|activated" name="activated">Active
			</label>
		</div>
		<div class="td"><span id="statcfg|name"></span></div>
		<div class="td"><span id="Stat|Source"></span></div>
		<div class="td">Status: <span id="Stat|fetchStatus"></span></div>
		<div class="td">Fetch-Step: <span id="Stat|fetchStep"></span></div>
		<div class="td">statCfgFile: <span id="Stat|statCfgFile"></span></div>
	</div>



<div class="wide">Statistics Overview</div>
<!-- Empty table -->
<form id="StatsForm" name="StatsForm" action="return false;">
<div class="table" id="statsTable" name="statsTable">
</div>
</form>

<label for="activated">
				<input type="checkbox" id="irgendwas" name="irgendwas">Check me
			</label>


<script>

var statsdata = [ ];
var statcfg = [ ];
var url = 'ajax/ajax-overview.cgi';

$(document).on('pageinit', function() {
	//query_stat_data('statistics.json');
	statsdata = JSON.parse('<TMPL_VAR statsdata>');
	$.each(statsdata.Stat, buildstatstable);
	populate(statsdata.Stat, undefined, "Stat");
	$.each(statsdata.Stat, function(index){ query_statcfg_data(index);});
	
});
	
function buildstatstable(index, val)
{
	// console.log(index, val);
	var clone = $('#statsRow').clone();
	// console.log(clone.prop('id'), clone.prop('name'));
	clone.prop('id', index+"|"+clone.prop('id')).attr("name", clone.prop('id')); 
	// console.log(clone.prop('id'), clone.prop('name'));
	

//	console.log("After Clone", clone);
	clone.find("*").each(function(){
		if ($(this).prop("id")) {
			$(this)
				.prop("id", index+"|"+$(this).prop('id'))
				.attr("name", $(this).prop('id'));
		}
		else if ($(this).prop('tagName') === 'LABEL') {
			$(this).prop('for', index+"|"+$(this).prop('for'));
		}
	});
	//console.log(clone);
	clone.show();
	//console.log("After clone change:", clone);
	$('#statsTable').append(clone);
	
}
	
	
	
function query_stat_data(file)
{
	$.getJSON( url, { action: 'get', jsonfile: file })
	.done(function(resp) {
		//console.log("query_data response:", resp);
		statsdata = resp;
		//$.each(statsdata.Stat, buildstatstable);
		populate(statsdata.Stat);
		

	});
}

function query_statcfg_data(statid)
{
	if(statsdata.Stat[statid] === undefined) {
		console.log("query_statscfg_data: statid does not exist:", statid);
		return;
	}
	$.getJSON( url, { action: 'statcfg', jsonfile: statsdata.Stat[statid].statCfgFile })
	.done(function(resp) {
		//console.log("query_data response:", resp);
		//$.each(statsdata.Stat, buildstatstable);
		statcfg[statid] = resp;
		populate(statcfg[statid], statid, "statcfg");

	});
}






<!-- var populate = function( form, data, basename) { -->
		<!-- console.log("Populare called"); -->
		<!-- for(var key in data) { -->
			<!-- if( ! data.hasOwnProperty( key ) ) { -->
				<!-- continue; -->
			<!-- } -->

			<!-- var name = key; -->
			<!-- var value = data[key]; -->

			<!-- console.log("form", form, "name", name, "value", value); -->
			
			<!-- if ('undefined' === typeof value) { -->
				<!-- value = ''; -->
			<!-- } -->
			
			<!-- if (null === value) { -->
				<!-- value = ''; -->
			<!-- } -->

			<!-- // handle array name attributes -->
			<!-- if(typeof(basename) !== "undefined") { -->
				<!-- name = basename + "[" + key + "]"; -->
			<!-- } -->

			<!-- if(value.constructor === Array) { -->
				<!-- name += '[]'; -->
			<!-- } else if(typeof value == "object") { -->
				<!-- populate( form, value, name); -->
				<!-- continue; -->
			<!-- } -->

			<!-- var element = form.elements.namedItem( name ); -->
			<!-- if( ! element ) { -->
				<!-- continue; -->
			<!-- } -->

			<!-- var type = element.type || element[0].type; -->

			<!-- switch(type ) { -->
				<!-- default: -->
					<!-- element.value = value; -->
					<!-- break; -->

				<!-- case 'radio': -->
				<!-- case 'checkbox': -->
					<!-- for( var j=0; j < element.length; j++ ) { -->
						<!-- element[j].checked = ( value.indexOf(element[j].value) > -1 ); -->
					<!-- } -->
					<!-- break; -->

				<!-- case 'select-multiple': -->
					<!-- var values = value.constructor == Array ? value : [value]; -->

					<!-- for(var k = 0; k < element.options.length; k++) { -->
						<!-- element.options[k].selected |= (values.indexOf(element.options[k].value) > -1 ); -->
					<!-- } -->
					<!-- break; -->

				<!-- case 'select': -->
				<!-- case 'select-one': -->
					<!-- element.value = value.toString() || value; -->
					<!-- break; -->
				<!-- case 'date': -->
          				<!-- element.value = new Date(value).toISOString().split('T')[0];	 -->
					<!-- break; -->
			<!-- } -->

		<!-- } -->

	<!-- }; -->



</script>









<!--
filename = "/opt/loxberry/data/plugins/stats4lox/databases/0001.rrd"
rrd_version = "0003"
step = 300
last_update = 1230768000
header_size = 2712
ds[value].index = 0
ds[value].type = "GAUGE"
ds[value].minimal_heartbeat = 3900
ds[value].min = -7.0000000000e+01
ds[value].max = 7.0000000000e+01
ds[value].last_ds = "U"
ds[value].value = NaN
ds[value].unknown_sec = 0
-->