									<br/>
									<table border=0 width="80%">
									<tr>
										<td style="vertical-align:top"><a id="btnaddstat" data-role="button" data-inline="true" data-mini="true" data-icon="plus" href="./addstat.cgi">Statistik hinzufügen</a></td>
										<td style="vertical-align:top"><a id="btneditsettings" data-role="button" data-inline="true" data-mini="true" data-icon="edit" href="./editsettings.cgi">Vorgaben</a></td>
										<td style="vertical-align:top"><a id="btnrrdflotaddstat" data-role="button" data-inline="true" data-mini="true" data-icon="eye" href="./charts/rrdflot/index.cgi"i target="_blank">Quickcharts</a></td>
										<td>&nbsp;&nbsp;&nbsp;</td>
										<td width="100%" style="vertical-align:middle"><form><input id="filterTable-input" data-type="search"></form></td>
									</tr>
									</table>
									<br/>

									<table data-role="table" data-mode="columntoggle" data-filter="true" data-input="#filterTable-input" class="ui-body-d ui-shadow table-stripe ui-responsive" data-column-btn-text="Zeige Spalten">
										<thead>
											<tr class="ui-bar-d">
												<th data-priority="6">Nr.</th>
												<th data-priority="4">Beschreibung</th>
												<th data-priority="5">Loxone-Bezeichnung</th>
												<th data-priority="3">Miniserver</th>
												<th data-priority="2">Status</th>
												<th data-priority="3">Optionen</th>
											</tr>
										</thead>
										<tbody>
											<!--$ptablerows-->
										</tbody>
									</table>
